body {
    width: 100vw;
    height: 100vh;
}

#header {
    height: 10vh;
}

#main {
    height: 700vh;
}

#footer {
    height: 50vh;
}

/***** INDEX PRINCIPAL START *****/

/* MAIN PICTURE START */

#container img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#container p {
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(250, 250, 250);
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnhome {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    height: 8%;
    width: 15%;
    position: absolute;
    text-align: center;
    top: 100%;
    padding: 5px 20px 5px 20px 5px;
    border-radius: 10px;
    background-color: rgb(231, 60, 61);
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btnhome:hover {
    background: rgb(255, 91, 91);
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}

.btnhome h4 {
    padding: 5%;
}

/* MAIN PICTURE END */

.caja7 {
    display: inline-block;
    height: 650px;
    width: 600px;
    background: rgb(73,103,255);
    background: radial-gradient(circle, rgba(73,103,255,1) 0%, rgba(70,217,252,1) 100%);
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 15px;
 }
 
 .caja8 {
     height: 650px;
     width: 600px;
     float: right;
     background: rgb(73,103,255);
     background: radial-gradient(circle, rgba(73,103,255,1) 0%, rgba(70,217,252,1) 100%);
     margin-top: 50px;
     margin-left: 30px;
     margin-right: 30px;
     border-radius: 15px;
 }

 .caja7p {
    padding-top: 50px;
    text-align: center;
    line-height: 50px;
}

.caja8p {
    padding-top: 50px;
    text-align: center;
    line-height: 50px;
}
 


/* FOOTER */

#exampleFormControlInput1 {
    width: 70%;
}

.btn {
    background-color: rgb(76, 118, 207);
    width: 340px;
}

#footer h5 {
    padding-top: 6%;
    padding-left: 12%;
    padding-right: 10%;
}

#footercontact h5 {
    padding: 6%;
}

#newsletter h4{
    padding-top: 11%;
    padding-bottom: 10%;
}

.buton {
    padding: 5%;
}

/****ABOUT US****/


#header2 {
    height: 10vh;
}

#main2 {
    height: 250vh;
}

#footer2 {
    height: 58vh;
}

#section2aboutus img {
    border-radius: 10% !important;
}

/* MAIN */

#imgaboutus img {
    border-radius: 2%;
}

#ourstory h4 {
    padding: 8%;
}

/****TEAM****/

#header3 {
    height: 10vh;
}

#main3 {
    height: 280vh;
}

#footer3 {
    height: 58vh;
}


.caja16 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 500px;
    width: 30%;
}

.caja17 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 500px;
    width: 30%;
}

.caja16container {
    width: 500px;
    height: 600px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;
}

.caja16container img {
    padding: 65px;
    border-radius: 50%;
}

.caja17container {
    width: 500px;
    height: 600px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;

}

.caja17container img {
    padding: 65px;
    border-radius: 50%;
}

/****SERVICE****/

#header4 {
    height: 10vh;
}

#main4 {
    height: 100vh;
}

#footer4 {
    height: 58vh;
}

#heading2 h2 {
    font-size: 40px !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

#heading3 h4 {
    padding-bottom: 2% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

#text1 h4 {
    padding: 15% !important;
}

#text2 h4 {
    padding: 9% !important;
}

#text1 img {
    padding: 4% !important;
}

#text2 img {
    padding: 10% !important;
}