body {
  width: 99%;
  height: 100vh;
}

#header {
  height: 10vh;
}

#main {
  height: 700vh;
}

#footer {
  height: 50vh;
}

main div .header {
  height: 700px;
  width: 100%;
  background-image: url(../assests/dillon-kydd-XGvwt544g8k-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main div .header h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 235px;
  color: white;
  text-align: center;
}
main div .btnhome, main div .btnhome--eliminar {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  height: 8%;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(231, 60, 61);
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main div .btnhome--eliminar {
  background-color: rgb(120, 120, 253);
}
main div .btnhome:hover, main div .btnhome--eliminar:hover {
  background: rgb(255, 91, 91);
  -webkit-box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
          box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
}
main div .caja7 {
  display: inline-block;
  height: 650px;
  width: 80%;
  background: rgb(120, 229, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(120, 229, 255)), color-stop(50%, rgb(78, 140, 245)), to(rgb(51, 100, 255)));
  background: linear-gradient(0deg, rgb(120, 229, 255) 0%, rgb(78, 140, 245) 50%, rgb(51, 100, 255) 100%);
  margin-top: 50px;
  margin-left: 40px;
  border-radius: 15px;
}
main div .caja8 {
  height: 650px;
  width: 80%;
  float: right;
  background: rgb(120, 229, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(120, 229, 255)), color-stop(50%, rgb(78, 140, 245)), to(rgb(51, 100, 255)));
  background: linear-gradient(0deg, rgb(120, 229, 255) 0%, rgb(78, 140, 245) 50%, rgb(51, 100, 255) 100%);
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15px;
}
main div .caja7p {
  padding-top: 50px;
  text-align: center;
  line-height: 50px;
}
main div .caja8p {
  padding-top: 50px;
  text-align: center;
  line-height: 50px;
}

footer div #exampleFormControlInput1 {
  width: 340px;
}
footer div .btn {
  background-color: rgb(26, 76, 182);
  width: 340px;
}
footer div #footer h5 {
  padding-top: 6%;
  padding-left: 15%;
  padding-right: 10%;
}
footer div #footercontact h5 {
  padding: 6%;
}
footer div #newsletter h4 {
  padding-top: 11%;
  padding-bottom: 10%;
}
footer div .buton {
  padding: 5%;
}

/****ABOUT US****/
#header2 {
  height: 10vh;
}

#main2 {
  height: 250vh;
}

#footer2 {
  height: 58vh;
}

main #section2aboutus img {
  border-radius: 10% !important;
}
main #imgaboutus img {
  border-radius: 2%;
}
main #ourstory h4 {
  padding: 8%;
}

/****SERVICES****/
#header4 {
  height: 10vh;
}

#main4 {
  height: 180vh;
}

#footer4 {
  height: 58vh;
}

main #heading2 {
  padding: 0% 5% 0% 5%;
}
main #heading2 h2 {
  font-size: 40px !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
main #heading3 {
  padding: 0% 5% 0% 5%;
}
main #heading3 h4 {
  padding-bottom: 2% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
main #text1 h4 {
  padding: 18% !important;
  text-align: center;
}
main #text2 h4 {
  padding: 15% !important;
  text-align: center;
}
main #text3 h4 {
  padding: 18% !important;
  text-align: center;
}
main #text1 img {
  padding: 4% !important;
}
main #text2 img {
  padding: 10% !important;
}

/****TEAM****/
#header3 {
  height: 10vh;
}

#main3 {
  height: 250vh;
}

#footer3 {
  height: 58vh;
}

main .caja16 {
  font-size: 110%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 800px;
  width: 30%;
}
main .caja16 p {
  margin: 0% 5% 0% 5%;
}
main .caja17 {
  font-size: 110%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 800px;
  width: 30%;
}
main .caja17 p {
  padding: 0% 5% 0% 5%;
}
main .caja16container {
  width: 500px;
  height: 700px;
  background-color: rgb(34, 83, 146);
  border-radius: 20px;
}
main .caja16container img {
  padding: 65px;
  border-radius: 50%;
}
main .caja17container {
  width: 500px;
  height: 700px;
  background-color: rgb(34, 83, 146);
  border-radius: 20px;
}
main .caja17container img {
  padding: 65px;
  border-radius: 50%;
}
main .socialicons {
  margin-top: 20px;
}
main .socialicons a {
  color: white;
  font-size: 25px;
}