@mixin reset-list {
    body {
        width: 99%;
        height: 100vh;
      }
      
      #header {
        height: 10vh;
      }
      
      #main {
        height: 700vh;
      }
      
      #footer {
        height: 50vh;
    }
}

@mixin horizontal-list {
  @include reset-list;
    div {
        height: 700px;
        width: 100%;
        background-image: url(../assests/dillon-kydd-XGvwt544g8k-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}