#header4 {
    height: 10vh;
}

#main4 {
    height: 100vh;
}

#footer4 {
    height: 58vh;
}

main {
    #heading2 h2 {
        font-size: 40px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    
    #heading3 h4 {
        padding-bottom: 2% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    
    #text1 h4 {
        padding: 15% !important;
    }
    
    #text2 h4 {
        padding: 9% !important;
    }
    
    #text1 img {
        padding: 4% !important;
    }
    
    #text2 img {
        padding: 10% !important;
    }
}