/****TEAM****/
  
#header3 {
    height: 10vh;
  }
  
  #main3 {
    height: 250vh;
  }
  
  #footer3 {
    height: 58vh;
  }
  

main { 

  .caja16 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 800px;
    width: 30%;
  }

  .caja16 p {
    margin: 0% 5% 0% 5%;
  }
  
  .caja17 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 800px;
    width: 30%;
  }

  .caja17 p {
    padding: 0% 5% 0% 5%;
  }
  
  .caja16container {
    width: 500px;
    height: 700px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;
  }
  
  .caja16container img {
    padding: 65px;
    border-radius: 50%;
  }
  
  .caja17container {
    width: 500px;
    height: 700px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;
  
  }
  
  .caja17container img {
    padding: 65px;
    border-radius: 50%;
  }

  .socialicons {
    margin-top: 20px;
  }

  .socialicons a {
    color: white;
    font-size: 25px;
  }

}