/****TEAM****/
  
#header3 {
    height: 10vh;
  }
  
  #main3 {
    height: 280vh;
  }
  
  #footer3 {
    height: 58vh;
  }
  

main { 

  .caja16 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 600px;
    width: 30%;
  }
  
  .caja17 {
    font-size: 110%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 600px;
    width: 30%;
  }
  
  .caja16container {
    width: 500px;
    height: 600px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;
  }
  
  .caja16container img {
    padding: 65px;
    border-radius: 50%;
  }
  
  .caja17container {
    width: 500px;
    height: 600px;
    background-color: rgb(34, 83, 146);
    border-radius: 20px;
  
  }
  
  .caja17container img {
    padding: 65px;
    border-radius: 50%;
  }

}