/****ABOUT US****/

#header2 {
    height: 10vh;
  }
  
  #main2 {
    height: 230vh;
  }
  
  #footer2 {
    height: 58vh;
  }
  
  main { 

     
       #section2aboutus img {
       border-radius: 10% !important;
       }
  
     
        #imgaboutus img {
        border-radius: 2%;
        }
    

     
       #ourstory h4 {
       padding: 8%;
       }

}