body {
 width: 99%;
 height: 100vh;
 box-sizing: border-box !important;
}
  
#header {
 height: 10vh;
}
  
#main {
 height: 700vh;
}
  
#footer {
 height: 50vh;
}

main {

       div {
            
          .header {
          height: 700px;
          width: 100%;
          background-image: url(../assests/dillon-kydd-XGvwt544g8k-unsplash.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
           }
            
      
           .header h3 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-top: 235px;
            color: $color-texto;
            text-align: center;
            }
   
      
            .btnhome {
             font-size: 1.5rem;
             color: $color-texto;
             font-weight: bold;
             height: 8%;
             width: 200px;
             border-radius: 10px;
             background-color: rgb(231, 60, 61);
             overflow: hidden;
             transition: 0.2s;
            }

            .btnhome--eliminar {
              @extend .btnhome;
              background-color: rgb(231, 60, 63);
            }
  
  
            .btnhome:hover {
             background: rgb(255, 91, 91);
             box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
             color: $color-texto;
             }
            
    }
   
  
           div {
            .caja7 {
            height: 95%;
            width: 80%;
            background: rgb(120,229,255);
            background: linear-gradient(0deg, rgba(120,229,255,1) 0%, rgba(78,140,245,1) 50%, rgba(51,100,255,1) 100%);
            margin-top: 50px;
            border-radius: 15px;
            }
  
            .caja8 {
             height: 95%;
             width: 80%;
             background: rgb(120,229,255);
             background: linear-gradient(0deg, rgba(120,229,255,1) 0%, rgba(78,140,245,1) 50%, rgba(51,100,255,1) 100%);
             margin-top: 50px;
             border-radius: 15px;
             }
  
  
            .caja7p {
            padding-top: 50px;
            text-align: center;
            line-height: 50px;
            }
  
  
            .caja8p {
            padding-top: 50px;
            text-align: center;
            line-height: 50px;
            }

           
            .caja9 iframe {
            width: 520px;
            height: 350px;
            }

    }
}

footer {

 @include footer;
   

     
  div {

      #footer h5 {
        
        padding-left: 15%;
        padding-right: 10%;
      }
    
      #footercontact h5 {
        padding: 7%;
      }
      
      #newsletter h4{
        padding-top: 11%;
        padding-bottom: 10%;
      }
      
      .buton {
        padding: 5%;
      }
   }
}
