/****SERVICES****/
  
#header4 {
    height: 10vh;
  }
  
  #main4 {
    height: 180vh;
  }
  
  #footer4 {
    height: 58vh;
  }
  
main {

      #heading2 {
        padding: 0% 5% 0% 5%;
      }
     
  
      #heading2 h2 {
        font-size: 40px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
      }
    
      #heading3 {
        padding: 0% 5% 0% 5%;
      }
  
      #heading3 h4 {
        padding-bottom: 2% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
      }

      #text1 h4 {
        padding: 18% !important;
        text-align: center;
      }
    
      #text2 h4 {
        padding: 15% !important;
        text-align: center;
      }
      
      #text3 h4 {
        padding: 18% !important;
        text-align: center;
      }


      #text1 img {
        padding: 4% !important;
      }
    

    
  
      #text2 img {
       padding: 10% !important;
      }
  
}