/****SERVICES****/

main {

  .heading2 h3 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading3 {
    padding: 0% 5% 0% 5%;
  }

  #heading3 p {
    font-size: 1.2rem;
  }
  
  #heading3 h4 {
    padding-top: 5%;
  }

  .card {
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    transition: all 400ms ease;
  }

  .card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
}