/****TEAM****/

main {

  .caja16 {
    font-size: 1rem;
    color: $color-texto;
    text-align: center;
    width: 20%;
    padding: 20% 0 20% 0;
  }

  .caja16 p {
    margin: 0% 5% 0% 5%;
  }

  .caja16container {
    width: 400%;
    height: 650px;
    background-color: $cards-team;
    border-radius: 20px;
    box-shadow: 0.6em 0.6em 1.5em #8ebfff,
      0.6em 0.6em 1.5em #97bcff;
    transition: all 400ms ease;
  }


  .caja16container:hover {
    box-shadow: 5px 5px 20px rgba(58, 176, 231, 0.4);
    transform: translateY(-3%);
  }

  .caja16container img {
    padding: 65px;
    border-radius: 50%;
  }

  .socialicons {
    margin-top: 10px;
  }

  .socialicons a {
    color: $color-texto;
    font-size: 20px;
  }

}